<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">Angular 20 MEAN CRUD</a>
    <div id="navbarNav" class="cllapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/employee-list"
            >Show employee</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/add-book"
            >Add employee</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
